.movie-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  justify-content: center;
  max-width: 950px;
  margin: 0 auto;
}

.movie-card {
  display: flex;
  height: 280px;
  overflow: hidden;
  font-size: 12px;
}


.movie-card,
.movie-card img.movie-card__banner {
  border-radius: 0;
}

.movie-card__banner {
  height: 100%;
  object-fit: cover;
}

.movie-card>:first-child {
  flex-shrink: 0;
  width: 183px;
}

.movie-card>:last-child {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.movie-card__title {
  white-space: break-spaces;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.movie-card__rating-circle {
  width: 30px;
  height: 30px;
  border: solid 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  flex-shrink: 0;
}

.movie-card__release-date {
  margin-bottom: 8px;
}

.movie-card__truncate-description {
  height: 100%;
  overflow: hidden;
}

.ant-rate {
  font-size: 17px;
  text-align: right;
  margin-top: 12px;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 910px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .movie-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px;
    justify-content: center;
    max-width: 910px;
    margin: 0 auto;
  }

  .movie-card {
    display: flex;
    height: 245px;
    overflow: hidden;
    padding: 10px;
    width: 388px;
  }


  .movie-card>:last-child {
    padding: 0 0 8px 12px;
  }

  .movie-card__truncate-description {
    margin-left: -68px;
  }

  .movie-card__banner {
    height: 38%;
    object-fit: cover;
  }

  .movie-card__rating-star {
    font-size: 16px;
  }

  .movie-card>:first-child {
    flex-shrink: 0;
    width: auto;
  }

  .ant-card-meta {
    width: 250px;
  }
}